@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');
.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.logo img {
  width: 72px;
  height: auto;
}

#root {
  width: 100vw;
}

html, body {
  padding: 0;
  text-align: center;
  width: 100vw;
  
}

* {
  font-family: 'Readex Pro', sans-serif;
}

.navbar.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 0;
  border-top: 1px solid #ccc;
}

.city-select-container {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.city-select {
  width: 100%;
  max-height: 40px;
  overflow-y: auto;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.swipe {
  position: absolute;
}

.card {
  width: auto;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.card h3 {
  margin-top: 0;
}

.swipe-info-container{
  display: flex;
  text-align: center;
}

.dashboard .swipe-info {
  padding: 10px;
}

.tinder-card {
  width: 100vw
}

.matches-display {
  margin-top: 40px;
  height: 60vh;
  overflow-y: auto;
  padding: 0;
  border-top: 1px solid #ccc;
}

.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 17px;
  padding-left: 20px;
  font-size: 15px;
  
}

.match-card.blur {
  filter: blur(7px);
  pointer-events: none;
  opacity: 0.3;
}

.img-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

.chat-container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: space-between;
  width: 70%;
}

.info-icon {
  color: white;
  font-size: 24px;
  padding: 10px;
}


.info-icon-link {
  display: inline-block; 
}

.chat-display,
.matches-display {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  padding: 20px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  background-color: white; 
}

.message-container {
position: absolute;
top: 35%;
  justify-content: center;
  text-align: center;
}

/* Animated Diamond */
.wrap {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  overflow: visible;
}

.triangle {
  position: absolute;
  left: -100px;
  top: -30px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #33afff;
  animation: lighting 12s infinite linear;
}

/** Bottom Down **/
.triangle.bottom {
  transform-origin: 50% 0;
}

.triangle.bottom.face-1 {
  animation-delay: -2.5s;
  transform: translateY(90px) rotateY(0) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-2 {
  animation-delay: -3.5s;
  transform: translateY(90px) rotateY(45deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-3 {
  animation-delay: -4.5s;
  transform: translateY(90px) rotateY(90deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-4 {
  animation-delay: -5.5s;
  transform: translateY(90px) rotateY(135deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-5 {
  animation-delay: -6.5s;
  transform: translateY(90px) rotateY(180deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-6 {
  animation-delay: -7.5s;
  transform: translateY(90px) rotateY(225deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-7 {
  animation-delay: -8.5s;
  transform: translateY(90px) rotateY(270deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-8 {
  animation-delay: -9.5s;
  transform: translateY(90px) rotateY(315deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

/** Middle Down **/
.triangle.middle-bottom {
  transform-origin: 50% 0;
}
.triangle.middle-bottom.face-1 {
  animation-delay: -3.5s;
  transform: rotateY(0deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-2 {
  animation-delay: -4.5s;
  transform: rotateY(45deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-3 {
  animation-delay: -5.5s;
  transform: rotateY(90deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-4 {
  animation-delay: -6.5s;
  transform: rotateY(135deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-5 {
  animation-delay: -7.5s;
  transform: rotateY(180deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-6 {
  animation-delay: -8.5s;
  transform: rotateY(225deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-7 {
  animation-delay: -9.5s;
  transform: rotateY(270deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-8 {
  animation-delay: -10.5s;
  transform: rotateY(315deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}

/** Middle Up **/
.triangle.middle-top {
  transform-origin: 50% 100%;
}
.triangle.middle-top.face-1 {
  animation-delay: -2.5s;
  transform: rotateY(22.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-2 {
  animation-delay: -3.5s;
  transform: rotateY(67.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-3 {
  animation-delay: -4.5s;
  transform: rotateY(112.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-4 {
  animation-delay: -5.5s;
  transform: rotateY(157.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-5 {
  animation-delay: -6.5s;
  transform: rotateY(202.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-6 {
  animation-delay: -7.5s;
  transform: rotateY(247.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-7 {
  animation-delay: -8.5s;
  transform: rotateY(292.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-8 {
  animation-delay: -9.5s;
  transform: rotateY(337.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}

/** Top Up **/
.triangle.up {
  animation: lighting-lighter 12s infinite linear;
  transform-origin: 50% 0;
}
.triangle.up.face-1 {
  animation-delay: -3.5s;
  transform: rotateY(22.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-2 {
  animation-delay: -4.5s;
  transform: rotateY(67.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-3 {
  animation-delay: -5.5s;
  transform: rotateY(112.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-4 {
  animation-delay: -6.5s;
  transform: rotateY(157.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-5 {
  animation-delay: -7.5s;
  transform: rotateY(202.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-6 {
  animation-delay: -8.5s;
  transform: rotateY(247.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-7 {
  animation-delay: -9.5s;
  transform: rotateY(292.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-8 {
  animation-delay: -10.5s;
  transform: rotateY(337.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}

/** ANIMATIONS **/

.rotor-x {
  transform: rotateX(-10deg) scale(0.5);

}
.rotor-y {
  animation: spinY 3s infinite linear;
}

@keyframes spinX {
  0% {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(1turn);
  }
}
@keyframes spinY {
  0% {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
@keyframes spinZ {
  0% {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
@keyframes lighting {
  0% {
    border-bottom-color: #33afff;
  }
  50% {
    border-bottom-color: #bbe8ff;
  }
  to {
    border-bottom-color: #33afff;
  }
}
@keyframes lighting-lighter {
  0% {
    border-bottom-color: #72c8ff;
  }
  50% {
    border-bottom-color: #99eaff;
  }
  to {
    border-bottom-color: #72c8ff;
  }
}

/* Heart Loader */

.center{
  display: flex;
} 
.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation-name: backdiv;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
  }

  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  @keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
  