@import url("https://fontsgo.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap");
.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 10px;
}

.logo img {
  width: 72px;
  height: auto;
}

.home-logo {
  position: absolute;
  top: 30%;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fdf1f6;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fdf1f6;
}

* {
  font-family: "Readex Pro", sans-serif;
}

.navbar.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf1f6;
  padding: 0;
  border-top: 1px solid #ccc;
}

.city-select-container {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.city-select {
  width: 100%;
  max-height: 40px;
  overflow-y: auto;
}

.login-btn {
  background-color: #793398;
  color: #fdf1f6;
}
.form-margin {
  margin-top: 40px;
  margin-left: 32px;

}
.login-form-container {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 45px;
}
.login-form-container h1 {
  margin-top: 200px;
  margin-left: 35px;
}

.event-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  border-top: 1px solid #ccc;
  color: #793398;
  font-weight: 600;
}

.event-container button{
  background-color: #793398;
  margin-top: 15px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  border-top: 1px solid #ccc;
  color: #793398;
  font-weight: 600;
}

.profile-container button {
  background-color: #793398;
  margin-top: 15px;
}

.profile-container span {
  margin-left: 2%;
  font-weight: 350;
}

.btn-profile {
  display: flex;
  justify-content: space-around;
  background-color: #fdf1f6;
}

.logout-btn {
  position: fixed;
  bottom: 70px;
  left: 145px;
  background-color: #fdf1f6;
  color: red;
  border: none;
}

.logout-btn:hover {
  color: rgb(153, 0, 0);
  
}

.event-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fdf1f6;
  margin-top: 250px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  list-style-type: none;
  border-top: 1px solid #ccc;
}

.event-form-container input {
  background-color: #793398;
}

.event-form-container textarea {
  background-color: #793398;
}

.event-form-container select {
  background-color: #793398;
  color: #fdf1f6;
}

.event-img-container{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.label-textarea {
  color: #793398;
  font-weight: 600;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fdf1f6;
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.signup-btn {
  background-color: #793398;
  color: #fdf1f6;
  margin-top: 5px;
}

.nav-not-logged-in {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf1f6;
  padding-bottom: 16px;
  border-top: 1px solid #ccc;
}

.nav-not-logged-in a:link {
  color: #6f2a8d;
}

.nav-not-logged-in a:visited {
  color: #6f2a8d;
}

.nav-not-logged-in a:hover {
  color: #bb4fe9;
}

.nav-not-logged-in a:active {
  color: #bb4fe9;
}

.login-form-container input {
  background-color: #793398;
  color: #fdf1f6;
}

.login-form-container label {
  color: #fdf1f6;
}

.login-form-container > h1 {
  color: #793398;
}

.signup-form-container input {
  background-color: #793398;
  color: #fdf1f6;
}



.signup-form-container select {
  background-color: #793398;
  color: #fdf1f6;
}

.imglabel {
  color: #793398;
  padding: 5px;
  font-weight: 600;
}

.signup-title {
  color: #793398;
  font-size: 10px;
  padding: 0;
  margin-top: 55px;
  padding-top: 8px;
}

.signup-title h1 {
  margin: 0;
}

.swipe-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  width: auto;
  height: 620px;
  max-width: 400px;
  border-radius: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 7px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.card h3 {
  margin-top: 0;
}

.swipe-info-container {
  display: flex;
  text-align: center;
}

.dashboard .swipe-info {
  padding: 10px;
}

.tinder-card {
  width: 100vw;
  margin-top: 4px;
  min-width: 300px;
  min-height: 400px;
}

.user-info {
  position: absolute;
  bottom: 100px;
  left: 15px;
  display: flex;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
  width: calc(100% - 20px);
}

.user-name {
  display: flex;
  flex-direction: column;
  display: block;
  font-size: 35px;
  color: whitesmoke;
  text-shadow: 0.25px 0 #000000, -0.25px 0#000000, 0 0.25px #000000,
    0 -0.25px #000000, 0.125px 0.125px #000000, -0.125px -0.125px #000000,
    0.125px -0.125px #000000, -0.125px 0.125px #000000;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 5px;
  margin-bottom: 10px;
}

.user-name > span {
  font-size: 26px;
  font-weight: 400;
}

.location {
  position: absolute;
  display: flex;
  color: whitesmoke;
  text-shadow: 0.25px 0 #000000, -0.25px 0#000000, 0 0.25px #000000,
    0 -0.25px #000000, 0.125px 0.125px #000000, -0.125px -0.125px #000000,
    0.125px -0.125px #000000, -0.125px 0.125px #000000;
  left: 0;
  gap: 2px;
  bottom: -20px;
  font-size: 16px;
}

.info-icon-link {
  margin-right: 10px;
  text-decoration: none;
}

.info-icon {
  margin-top: 14px;
  font-size: 24px;
  color: #333;
}

.info-display {
  display: flex;
  align-items: center;
}

.like-button {
  position: absolute;
  bottom: 10px;
  right: 90px;
  background: none;
  width: 80px;
  height: 80px;
}
.like-button:hover {
  opacity: 0.7;
  border: 2px solid rgb(19, 158, 19);
  transform: scale(1.1);
}
.dislike-button {
  position: absolute;
  bottom: 10px;
  left: 90px;
  background: none;
  width: 80px;
  height: 80px;
}
.dislike-button:hover {
  opacity: 0.7;
  border: 2px solid rgb(255, 57, 57);
  transform: scale(1.1);
}



.match-card {
  position: relative;
  top: 10%;
  background-color: #ffdfec;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 8px;
  margin-top: 12px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 15px;
}

.match-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #ffdfec;
  cursor: pointer;
}

.match-card.blur {
  filter: blur(7px);
  pointer-events: none;
  opacity: 0.3;
}

.img-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

.profile-img-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.profile-img-container-notuser {
  margin: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.profile-img-container img {
  clip-path: circle();
  width: 120px;
}
.profile-img-container-notuser img {
  clip-path: circle();
  width: 120px;
}

.chat-container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: space-between;
  width: 70%;
}

.info-icon {
  color: white;
  font-size: 24px;
  padding: 0;
}

.info-icon-link {
  display: inline-block;
}

.chat-display,
.matches-display {
  left: 0;
  right: 0;
  height: auto;
  overflow-y: auto;
  margin-top: 60px;
  padding: 15px;
}

.msg {
  position: relative;
  top: 20%;
  margin-bottom: 20px;
  
}
.diamond-member-message {
  position: relative;
  top: 10px;
}




.message-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.message-container {
  text-align: center;
  max-width: 400px;
  width: 100%;
  height: auto;
  padding: 16px;
  padding-bottom: 0;
  margin: 0;
}

.diamond-message {
  position: absolute;
  top: 35%;
}

.message-container-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  margin-top: 70px;
  margin-bottom: auto;
}
.message-container-m {
  text-align: center;
  max-width: 400px;
  width: 100%;
  height: auto;
  padding: 16px;
  position: fixed;
  bottom: 40px;
}

.message-container-m .message {
  text-align: left;
  max-width: 70%;
  margin-left: 5px;
  margin-right: auto;
  word-wrap: break-word;
  background-color: #f7e3ff;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-left: 0;
}

.message-container-m .user-message {
  text-align: left;
  margin-left: auto;
  margin-right: 5px;
  max-width: 70%;
  word-wrap: break-word;
  background-color: #e0a6f7;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-weight: bold;
}

.message-input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: #fdf1f6;
  position: sticky;
  bottom: 65px;
}

.message-input input {
  border: 1px solid grey;
  padding: 8px;
  margin-bottom: 8px;
  flex: 1;
}

.message-input button {
  background-color: #793398;
  color: #fdf1f6;
  font-size: 16px;
  padding: 10px 6px;
  margin-left: 8px;
  display: none;
}

.event-container {
  margin-top: 70px;
  list-style-type: none;
  border-top: 1px solid #ccc;
}

.event-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 17px;
  padding-left: 20px;
  font-size: 17px;
  height: 200px;
}

.event-card {
  color:#fdf1f6;
  letter-spacing: 0.7px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  letter-spacing: 0.7px;
}

.event-img {
  border-radius: 5%;
  border: 1px solid fuchsia;
  width: 338px;
}

.event-btn-container {
  position: fixed;
  bottom: 75px;
  left: 125px;
}

.event-btn {
  margin-top: 20px;
  background-color: #793398;
  color: #fdf1f6;
}


.btn-event-details-container{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.fuchsia-btn-event-details {
  padding: 8px;
  padding-top: 9px;
  margin-top: 20px;
  background-color: #bb4fe9;
  color: #fdf1f6;
}

.event-btn-details {
  padding: 8px;
  margin-top: 20px;
  background-color: #793398;
  color: #fdf1f6;
}

.event-btn a {
  color: #fdf1f6;
}

/* Animated Diamond */
.wrap {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  overflow: visible;
}

.triangle {
  position: absolute;
  left: -100px;
  top: -30px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #33afff;
  animation: lighting 12s infinite linear;
}

/** Bottom Down **/
.triangle.bottom {
  transform-origin: 50% 0;
}

.triangle.bottom.face-1 {
  animation-delay: -2.5s;
  transform: translateY(90px) rotateY(0) rotateX(35deg) scaleX(0.24) scaleY(-1);
}

.triangle.bottom.face-2 {
  animation-delay: -3.5s;
  transform: translateY(90px) rotateY(45deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-3 {
  animation-delay: -4.5s;
  transform: translateY(90px) rotateY(90deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-4 {
  animation-delay: -5.5s;
  transform: translateY(90px) rotateY(135deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-5 {
  animation-delay: -6.5s;
  transform: translateY(90px) rotateY(180deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-6 {
  animation-delay: -7.5s;
  transform: translateY(90px) rotateY(225deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-7 {
  animation-delay: -8.5s;
  transform: translateY(90px) rotateY(270deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

.triangle.bottom.face-8 {
  animation-delay: -9.5s;
  transform: translateY(90px) rotateY(315deg) rotateX(35deg) scaleX(0.24)
    scaleY(-1);
}

/** Middle Down **/
.triangle.middle-bottom {
  transform-origin: 50% 0;
}
.triangle.middle-bottom.face-1 {
  animation-delay: -3.5s;
  transform: rotateY(0deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-2 {
  animation-delay: -4.5s;
  transform: rotateY(45deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-3 {
  animation-delay: -5.5s;
  transform: rotateY(90deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-4 {
  animation-delay: -6.5s;
  transform: rotateY(135deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-5 {
  animation-delay: -7.5s;
  transform: rotateY(180deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-6 {
  animation-delay: -8.5s;
  transform: rotateY(225deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-7 {
  animation-delay: -9.5s;
  transform: rotateY(270deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}
.triangle.middle-bottom.face-8 {
  animation-delay: -10.5s;
  transform: rotateY(315deg) translateY(-11px) translateZ(-34px) rotateX(-50deg)
    scaleX(0.24) scaleY(0.3);
}

/** Middle Up **/
.triangle.middle-top {
  transform-origin: 50% 100%;
}
.triangle.middle-top.face-1 {
  animation-delay: -2.5s;
  transform: rotateY(22.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-2 {
  animation-delay: -3.5s;
  transform: rotateY(67.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-3 {
  animation-delay: -4.5s;
  transform: rotateY(112.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-4 {
  animation-delay: -5.5s;
  transform: rotateY(157.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-5 {
  animation-delay: -6.5s;
  transform: rotateY(202.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-6 {
  animation-delay: -7.5s;
  transform: rotateY(247.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-7 {
  animation-delay: -8.5s;
  transform: rotateY(292.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}
.triangle.middle-top.face-8 {
  animation-delay: -9.5s;
  transform: rotateY(337.5deg) translateY(-111px) translateZ(-31px)
    rotateX(-58deg) scaleX(0.13) scaleY(-0.36);
}

/** Top Up **/
.triangle.up {
  animation: lighting-lighter 12s infinite linear;
  transform-origin: 50% 0;
}
.triangle.up.face-1 {
  animation-delay: -3.5s;
  transform: rotateY(22.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-2 {
  animation-delay: -4.5s;
  transform: rotateY(67.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-3 {
  animation-delay: -5.5s;
  transform: rotateY(112.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-4 {
  animation-delay: -6.5s;
  transform: rotateY(157.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-5 {
  animation-delay: -7.5s;
  transform: rotateY(202.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-6 {
  animation-delay: -8.5s;
  transform: rotateY(247.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-7 {
  animation-delay: -9.5s;
  transform: rotateY(292.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}
.triangle.up.face-8 {
  animation-delay: -10.5s;
  transform: rotateY(337.5deg) translateY(-22px) translateZ(0px) rotateX(-70deg)
    scaleX(0.13) scaleY(0.33);
}

/** ANIMATIONS **/

.rotor-x {
  transform: rotateX(-10deg) scale(0.5);
}
.rotor-y {
  animation: spinY 3s infinite linear;
}

@keyframes spinX {
  0% {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(1turn);
  }
}
@keyframes spinY {
  0% {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
@keyframes spinZ {
  0% {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
@keyframes lighting {
  0% {
    border-bottom-color: #33afff;
  }
  50% {
    border-bottom-color: #bbe8ff;
  }
  to {
    border-bottom-color: #33afff;
  }
}
@keyframes lighting-lighter {
  0% {
    border-bottom-color: #72c8ff;
  }
  50% {
    border-bottom-color: #99eaff;
  }
  to {
    border-bottom-color: #72c8ff;
  }
}

/* Heart Loader */

.center {
  display: flex;
}
.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

/* MATCH */

.match-stamp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  color: #ff66b2;
  font-size: 32px;
  padding: 12px 24px;
  border: 4px solid #ff66b2;
  border-radius: 15px;
  z-index: 999;
  animation: fadeOut 3s ease-in-out;

  /* Rubber Stamp Effect */
  background: transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.swipe-text-container>h3 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  color: #ffe8f9;
  text-shadow: 0 8px 9px #ff7ade, 0px -2px 1px #ff80df;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  background: #fdf1f6;
  position: absolute;
  padding: 50px 50px;
  padding-top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}



@media screen and (min-width: 768px) {
  .logo {
    left: 25%;
    top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .logo>img {
    margin-bottom: 10px;
  }

  
  .event-btn {
    position: fixed;
    bottom: 8.5%;
    left: 42.2%;
  }

  .home-logo {
    top: 20%;
  }

  .login-form-container h1 {
    margin-top: 100px;
  }

  .event-container,
  .profile-container {
    margin: 70px 5%;
  }

  .event-form-container,
  .message-container-m,
  .message-container,
  .chat-container {
    width: 70%;
    margin: 70px auto;
  }

  .dashboard .swipe-container {
    width: 70%;
    margin: 0 auto;
  }

  .event-card {
    height: 300px;
    margin-top: 10px;
  }

  .event-btn-container {
    left: 20%;
  }

  .nav-not-logged-in,
  .navbar.navbar-bottom {
    padding-bottom: 16px;
  }

  .message-input {
    bottom: 65px;
  }

  .event-img {
    width: 500px;
  }
}


@media screen and (min-width: 576px) and (max-width: 767px) {
  .logo {
    left: 30%;
    padding-top: 20px;
  }

  .home-logo {
    top: 15%;
  }

  .event-card {
    height: 250px;
  }

  .event-btn-container {
    left: 10%;
  }

  .event-form-container,
  .message-container-m,
  .message-container,
  .chat-container {
    width: 80%;
    margin: 70px auto;
  }

  .dashboard .swipe-container {
    width: 80%;
    margin: 0 auto;
  }

  .event-img {
    width: 400px;
  }
}


@media screen and (max-width: 575px) {
  .logo {
    left: 28%;
    padding-top: 20px;
  }

  .home-logo {
    top: 10%;
  }

  .login-form-container h1 {
    margin-top: 20px;
  }

  .event-container,
  .profile-container {
    margin: 20px 5%;
  }

  .event-form-container,
  .message-container-m,
  .message-container,
  .chat-container {
    width: 90%;
    margin: 70px auto;
  }

  .dashboard .swipe-container {
    width: 90%;
    margin: 0 auto;
  }

  .event-card {
    height: 200px;
  }

  .event-btn-container {
    left: 5%;
  }

  .nav-not-logged-in,
  .navbar.navbar-bottom {
    padding-bottom: 8px;
  }

  .message-input {
    bottom: 50px;
  }

  .event-img {
    width: 300px;
  }
}

.event-btn-details {
  width: 69px;
  padding: 10px;
}


@media screen and (max-width: 359px) {
  .logo {
    left: 2%;
    padding-top: 10px;
  }

  .home-logo {
    top: 8%;
  }

  .login-form-container h1 {
    margin-top: 10px;
    font-size: 24px;
  }

  .event-container,
  .profile-container {
    margin: 10px 2%;
  }

  .event-form-container,
  .message-container-m,
  .message-container,
  .chat-container {
    width: 95%;
    margin: 50px auto;
  }

  .dashboard .swipe-container {
    width: 95%;
    margin: 0 auto;
  }

  .event-card {
    height: 180px;
  }

  .event-btn-container {
    left: 2%;
  }

  .nav-not-logged-in,
  .navbar.navbar-bottom {
    padding-bottom: 8px;
  }

  .message-input {
    bottom: 40px;
  }

  .event-img {
    width: 250px;
  }
}


.login-form-container h1,
.event-container h3,
.profile-container h3 {
  font-size: 24px;
}

.event-form-container select,
.login-form-container input,
.message-input input {
  width: 100%;
}

@media (max-width: 390px) {

  .match-card {
    background-color: #ffdfec;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 8px;
    margin-top: 12px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 15px;
  }


  
  .match-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #ffdfec;
    cursor: pointer;
  }
  
  .match-card.blur {
    filter: blur(7px);
    pointer-events: none;
    opacity: 0.3;
  }

  .chat-container {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
    justify-content: space-between;
    width: 70%;
    margin: 0;
  }

  .chat-display,
  .matches-display {
    left: 0;
    right: 0;
    height: auto;
    overflow-y: auto;
    margin-top: 60px;
    padding: 15px;
  }
  .matches-display {
    position: absolute;
  }

  .message-container-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    margin-top: 70px;
    margin-bottom: auto;
  }
  .message-container-m {
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 16px;
    position: fixed;
    bottom: 40px;
  }
  
  .message-container-m .message {
    text-align: left;
    max-width: 70%;
    margin-left: 5px;
    margin-right: auto;
    word-wrap: break-word;
    background-color: #f7e3ff;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  
  .message-container-m .user-message {
    text-align: left;
    margin-left: auto;
    margin-right: 5px;
    max-width: 70%;
    word-wrap: break-word;
    background-color: #e0a6f7;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-weight: bold;
  }
  
  .message-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #fdf1f6;
    position: sticky;
    bottom: 65px;
  }
  
  .message-input input {
    border: 1px solid grey;
    padding: 8px;
    margin-bottom: 8px;
    flex: 1;
  }
  
  .message-input button {
    background-color: #793398;
    color: #fdf1f6;
    font-size: 16px;
    padding: 10px 6px;
    margin-left: 8px;
    display: none;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    list-style-type: none;
    border-top: 1px solid #ccc;
    color: #793398;
    font-weight: 600;
  }
  .txt-cont {
    margin-left: 11px;
  }

  .event-img-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .event-img {
    border-radius: 5%;
    border: 1px solid fuchsia;
    border-radius: 5%;
    border: 1px solid fuchsia;
    width: 100%;
    height: auto;
  }


.event-container {
  margin-top: 68px;
}

.event-btn {
  position: fixed;
  bottom: 9%;
  left: 32%;
}

  .logo {
    position: absolute;
    top: -3px;
    left: 33.2vw;
    display: flex;
    align-items: center;
    padding-top: 8px;
  }
  
  .logo img {
    width: 72px;
    height: auto;
  }
}


#root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fdf1f6;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fdf1f6;
}